# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    locale: en
    env(SYMFONY_SECRET): secret_value_for_symfony_demo_application
    env(LOG_URL): '%kernel.logs_dir%/%kernel.environment%.log'
    env(DATABASE_URL): 'sqlite:///%kernel.project_dir%/var/data/blog.sqlite'
    env(MAILER_URL): 'smtp://symfonydemo.test:25?encryption=&auth_mode='
